---
import Container from '../ui/Container.astro';
import IconCard from '../ui/IconCard.astro';
import Heading from '../ui/Heading.astro';
import type { Translations } from '@/i18n/schema.ts';

type Props = {
  t: Translations['howTo'];
};

const { t } = Astro.props;
---

<section
  id="how-to"
  class="flex min-h-dvh flex-col justify-center bg-gray-50 px-6 py-10"
  data-reveal="wipe-right"
>
  <Container className="flex flex-col gap-16">
    <Heading title={t.title} description={t.description} align="center" />
    <ul
      class="grid grid-cols-1 gap-9 list-none md:grid-cols-2 md:gap-11 lg:grid-cols-3 lg:gap-16"
    >
      {
        t.items.map((item) => (
          <li>
            <IconCard
              icon={item.icon}
              title={item.title}
              description={item.description}
              align="center"
              variant="stacked"
            />
          </li>
        ))
      }
    </ul>
  </Container>
</section>
