---
import Container from '../ui/Container.astro';
import IconCard from '../ui/IconCard.astro';
import Heading from '../ui/Heading.astro';
import type { Translations } from '@/i18n/schema.ts';

type Props = {
  t: Translations['howTo'];
};

const { t } = Astro.props;
---

<section id="how-to">
  <Container className="flex flex-col gap-16">
    <Heading
      title={t.title}
      description={t.description}
      align="center"
    />
    <div
      class="grid grid-cols-1 gap-9 md:grid-cols-2 md:gap-11 lg:grid-cols-3 lg:gap-16"
    >
      {
        t.items.map((item) => (
          <IconCard
            icon={item.icon}
            title={item.title}
            description={item.description}
            align="center"
            variant="stacked"
          />
        ))
      }
    </div>
  </Container>
</section>
