---
import type { Translations } from '@/i18n/schema.ts';
import Container from '../ui/Container.astro';
import Heading from '../ui/Heading.astro';
import IconCard from '../ui/IconCard.astro';

type Props = {
  t: Translations['stack'];
};

const { t } = Astro.props;
---

<section id="stack">
  <Container>
    <div
      class="grid grid-cols-1 gap-18 justify-center items-center bg-accent-soft p-10 rounded-2xl lg:grid-cols-2"
    >
      <Heading
        title={t.title}
        titleClassName="text-accent text-4xl"
        description={t.description}
        descriptionClassName="text-accent-dark text-xl md:w-full"
      />
      <ul class="flex flex-col gap-10 list-none bg-accent-dark p-8 rounded-2xl">
        {
          t.items.map((item) => (
            <li>
              <IconCard
                icon={item.icon}
                iconClassName="text-white"
                title={item.title}
                titleClassName="text-white text-xl"
                description={item.description}
                descriptionClassName="text-white text-base"
                variant="list"
              />
            </li>
          ))
        }
      </ul>
    </div>
  </Container>
</section>
