---
import { twMerge } from 'tailwind-merge';

type Props = {
  title: string;
  titleClassName?: string;
  description?: string;
  descriptionClassName?: string;
  align?: 'left' | 'center' | 'right';
  level?: 2 | 3 | 4;
};

const {
  title,
  titleClassName,
  description,
  descriptionClassName,
  align = 'left',
  level = 2,
} = Astro.props;

const headingClass = twMerge('text-3xl md:text-4xl lg:text-5xl text-foreground font-black', titleClassName);
const descriptionClass = twMerge(
  'text-lg md:text-xl lg:text-2xl text-accent md:w-1/2',
  align === 'center' && 'text-center',
  align === 'right' && 'text-right',
  descriptionClassName,
);
---

<div
  class:list={[
    'flex flex-col gap-3 md:gap-4 lg:gap-5',
    { 'justify-center items-center': align === 'center' },
    { 'justify-end items-end': align === 'right' },
  ]}
>
  {level === 2 && <h2 class={headingClass}>{title}</h2>}
  {level === 3 && <h3 class={headingClass}>{title}</h3>}
  {level === 4 && <h4 class={headingClass}>{title}</h4>}
  {description && <p class={descriptionClass}>{description}</p>}
</div>
